.languageSelector
	ul
		border-bottom: 1px solid darken(paper-color, 5)
		max-height: 0px
		overflow: hidden
		transition: max-height 0.3s ease
	&.isExpanded>ul
		max-height: 250px
	a
		display:block
	>a
		padding: 15px 20px
		&:hover
			color: darken(ink-color, 20)
			background-color: darken(paper-color, 5)
	li>a
		padding: 5px 20px
		color: lighten(ink-color, 30)
		&:hover
			color: ink-color