.site-navigation
	z-index: 300
	position:relative
	line-height: layout_header-height
	background-color: pink//primary-color
	.navigation-main
		display:inline-block
		ul, li
			display:inline-block
		>ul>li
			a
				display: none
			>ul>li
				>a
					display: inline-block
				>ul
					display: none
