brand-background-color = color-dark
.brand
	background brand-background-color
	text-align center
	overflow hidden
	padding 20px
	padding-left 0px
	a
		margin auto
	div
		/*color _inkColor(brand-background-color)*/
		background siteLogo
		background-size contain
		background-repeat no-repeat
		background-position center
		width 70px
		height 70px
		display inline-block
	h1
		color _inkColor(brand-background-color)
		font-weight bold
		display inline-block
		font-size 3em
		line-height 70px
		vertical-align bottom

@media (min-width tablet)
	.brand
		padding 50px 20px

@media (min-width laptop)
	.brand
		padding 50px 20px

if (horizontalLayout)
	@media (min-width laptop)
		.brand
			background-color horizontalBgColor
			padding 0
			display inline
			a
				padding 15px 20px
				background siteLogo
				background-size contain
				background-repeat no-repeat
				background-position center
			div
				display:none
			h1
				display none