.navigation
	background: paper-color
	position: fixed
	width: layout_drawer-width
	bottom: 0px
	z-index: 50
	overflow: auto
	top: 0//layout_header-height
	transition: left 0.3s ease, right 0.3s ease;

.site-intro
	ul
		list-style: none
	ul, ol, li
		padding: 0px
	a, a:hover, a:focus
		text-decoration: none

	.site-navigation
		a
			color: ink-color
		@extends .navigation
		z-index: 100
		/*top: 50px*/
		_shadow(2,1)
		left: -(layout_drawer-width + 5px) //slide just outside, but enough that we will not see the shadow
		&.toggle
			left: 0px



if (horizontalLayout)
	@media (min-width: laptop)
		//html:not(ie8)
		.site-intro
			.site-navigation
				_shadow(0,0)
				left: 0px
				top: 0px
				bottom: auto
				width:100%
				z-index: 300
				position: relative
				overflow visible
				background-color: horizontalBgColor
				color: _inkColor(horizontalBgColor)
				padding: 0
				text-align: center
				transition: left 0s
else
	@media (min-width: laptop)
		//keep vertical layout but lock it as open
		.site-intro
			.site-navigation
				left: 0px
				top: 0px
		main
			padding-left: layout_drawer-width

//legacy
.ie8
	.site-intro .site-navigation
		border-right: 1px solid grey