Green = rgb(80,158,47);  // Green
Black = rgb(35, 31, 32)

Azure = rgb(23,92,161);  // Azure
Aqua = rgb(64,191,255); // Aqua
purple = rgb(99,111,180);   // purple
SkyBlue = rgb(229, 255, 255) //sky blue
OrangePeel = rgb(253, 176, 2) //orange peel
Plum = rgb(126,70,106);   // plum
Terracotta = rgb(214,111,39);   // Terracotta
Mist = rgb(232, 232, 232) //mist


/* COLORS */
color-dark = #333
color-bright = #FFF
background-color = #F1F1F1

paper-color = color-bright
ink-color = color-dark
link-bg-color = orange

primary-color = rgb(123, 194, 212)


/* COLOR COMPLEMENTS */

/* Many colored*/
complement-colors = ks-tetrad( primary-color )
secondary-color = complement-colors[1]
tertiary-color = complement-colors[0]
accent-color = complement-colors[2]

// /* triad colors */
// complement-colors = ks-triad( primary-color )
// secondary-color = complement-colors[0]
// tertiary-color = complement-colors[1]
// accent-color = complement-colors[1]

// /* split colors */
// complement-colors = ks-split-complements( primary-color )
// secondary-color = complement-colors[0]
// tertiary-color = complement-colors[1]
// accent-color = complement-colors[1]

// /* monochrome colors */
// complement-colors = ks-monochrome( primary-color )
// secondary-color = complement-colors[0]
// tertiary-color = complement-colors[1]
// accent-color = complement-colors[1]

primary-ink-color = _inkColor(primary-color)
secondary-ink-color = _inkColor(secondary-color)
tertiary-ink-color = _inkColor(tertiary-color)
accent-ink-color = _inkColor(accent-color)

_inkColor(bg)
	if dark(black)
		color-bright
	else
		color-dark