/* BREAK POINTS*/
// mobile : 0px; //mobile first, no support for wearables
tablet = 768px
laptop = 1024px
desktop = 1200px

.font-main
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

.font-article
	font-family: 'Times New Roman', Times, serif
