.site-navigation
	.toggle
		position:absolute
		top:0px
		right: 0px
		padding:5px;
		color: #FFF //TODO
		&:after
			content 'X'
			
header
	.toggle
		padding:5px;
		color: #FFF //TODO
		display: inline-block
		&:after
			content 'X'