<article {% if meta.fm.style %} class="{{meta.fm.style}}"  {% else %} class="article" {% endif %}>
	<!--<div class="article--share">Share</div>-->
    <div class="article__content">
        <section class="block block-first">

            {% if meta.fm.image %}
            <div class="article__headerImage">
                <div class="responsiveImage">
                    <img src="{{meta.fm.image}}" {% if meta.fm.imageTitle %}title="{{meta.fm.imageTitle}}"{% endif %}>
                    {% if meta.fm.imageTitle %}
                    <div class="responsiveImage_license">
                        <span class="responsiveImage__icon gb-icon-info"></span>
                        {% if meta.fm.imageLink %}
                        <span class="responsiveImage__info"><a href="{{meta.fm.imageLink}}">{{meta.fm.imageTitle}}</a></span>
                        {% else %}
                        <span class="responsiveImage__info">{{meta.fm.imageTitle}}</span>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <div class="block-content">
                {% if meta.fm.category %}
                <div class="article__category">
                    <span class="article__category__upper">{{meta.fm.category}}</span>
                    {% if meta.fm.subCategory %}
                    <span class="article__category__lower">{{meta.fm.subCategory}}</span>
                    {% endif %}
                </div>
                {% endif %}
            {{content|safe}}
            </div>
        </section>
    </div>
</article>