<!DOCTYPE html>

<!--[if !IE]> -->
<html lang="en" class="not_ie">
<!-- <![endif]-->
<!--[if IE]>
<html lang="en" class="ie">
<![endif]-->

<head>
    {% include "head.html" %}
    <title>GBIF</title>
</head>
<body>



<div id="page-wrapper" class="page-wrapper">
    <div class="siteCanvas" id="siteCanvas">
        {% include "nav.html" %}
        {% include "searcharea.html" %}

        <main class="main" role="main" id="main">
            <div class="Site__contentArea">
                <div class="Site__contentArea__main">
                    {% include "article.html" %}
                </div>
            </div>
        </main>

    </div>
</div>


{% include "popup.html" %}




<script>
    var GBIF = GBIF || {};
    GBIF.page = GBIF.page || {};
    GBIF.site = GBIF.site || {};
    GBIF.page.meta = {{meta|raw|json_encode}};
    GBIF.page.versions = {{versions|raw|json_encode}};
    GBIF.site.navigation = {{nav|raw|json_encode}};
    GBIF.site.languages = {{languages|raw|json_encode}};
    GBIF.siteLanguage = '{{meta.siteLanguage}}';
    GBIF.i18n = {{i18n|raw|json_encode}};
</script>
<script src="/javascript/script.js"></script>

</body>
</html>
