<!DOCTYPE html>
<html>
	<head>
		<meta name="robots" content="noindex, nofollow"><!--TODO just while testing, should of course be removed in production-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>{{frontMatter.title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aight/1.2.2/aight.min.js"></script>
		<![endif]-->
	</head>

	<body lang="{{meta.siteLanguage}}">
		<div class="page-wrapper">
			<section class="site-intro">
				<a class="skip" rel="nofollow" href="#main">Skip to main content</a>
				<header class="banner">
					<span class="Xtoggle toggle-nav" role="button">
					</span>
					<!-- <h1>BANNER</h1> -->
					{% include "search.html" %}
				</header>

				<div class="site-navigation">
					<span class="toggle toggle-nav" role="button">
					</span>
					<div class="brand">
						<a href="/">
							<h1>BRAND</h1>
						</a>
					</div>
					<div class="login">
						LOGIN
					</div>
					<div class="search">
						SEARCH
					</div>
					{% include "navigation.html" %}
					{% include "language-selector.html" %}
					<div class="share">
						SHARE
					</div>
				</div>
			</section>
			
			<main id="main">
				<aside class="context-options">
					filters go here
				</aside>
				<section>
					<div class="content">
						{% include "article.html" %}
					</div>
				</section>
			</main>
		</div>
		<script>
			var GBIF = GBIF || {};
            GBIF.page = GBIF.page || {};
            GBIF.site = GBIF.site || {};
            GBIF.page.meta = {{meta|raw|json_encode}};
            GBIF.page.versions = {{versions|raw|json_encode}};
            GBIF.site.navigation = {{nav|raw|json_encode}};
            GBIF.site.languages = {{languages|raw|json_encode}};
			GBIF.siteLanguage = '{{meta.siteLanguage}}';
		</script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/0.6.0/lunr.min.js"></script>
		<script src="/javascript/script.js"></script>
	</body>

</html>

