<header class="SiteHeader" id="SiteHeader">
    <div>
        <div class="SiteHeader__mobileOptions">
            <div class="navbar_action">
                <a href="#" class="actionIcon gb-icon-menu site__menuToggle btn">
                    <span>{{i18n.NavMenu[meta.siteLanguage]}}</span>
                </a>
            </div>
            <div class="navbar_action">
                <a href="/{{meta.siteLanguage}}/#" class="actionIcon gb-icon-siteLogo home">
                    <span>{{i18n.siteName[meta.siteLanguage]}}</span>
                </a>
            </div>
            <div class="navbar_action">
                <a href="#" class="actionIcon gb-icon-search site__searchToggle btn">
                    <span>{{i18n.NavSearch[meta.siteLanguage]}}</span>
                </a>
            </div>
        </div>
    </div>
</header>