<nav class="navigation-main" id="navigation-main">
	<ul>
		<li {% if meta.siteLanguage == meta.prettyUrl %} class="isActive" {% endif %}>
            {% if nav.menuItem[meta.siteLanguage] %}
            <a href="/{{meta.siteLanguage}}">{{nav.menuItem[meta.siteLanguage].fm.title}}</a>
            {% endif %}

			{% for x in nav.children %}
                {% if loop.first %}
                <ul>
                {% endif %}
                    {% if x.menuItem[meta.siteLanguage] %}
                        <li {% if meta.prettyUrl|startsWith(x.menuItem[meta.siteLanguage].prettyUrl) %} class="isActive" {% endif %}>

                            {% if x.menuItem[meta.siteLanguage].fm.type == 'link' %}
                                <a href="{{x.menuItem[meta.siteLanguage].fm.link}}">
                                    {{x.menuItem[meta.siteLanguage].fm.title}}
                                </a>
                            {% elseif x.children && x.menuItem[meta.siteLanguage].fm.type == 'menu only' %}
                                <a href="#">
                                    {{x.menuItem[meta.siteLanguage].fm.title}}
                                </a>
                                {% for y in x.children %}
                                    {% if loop.first %}
                                    <ul>
                                    {% endif %}
                                        {% if y.menuItem %}
                                        <li {% if meta.prettyUrl == y.menuItem[meta.siteLanguage].prettyUrl %} class="isActive" {% endif %}>
                                            <a href="/{{y.menuItem[meta.siteLanguage].prettyUrl}}">
                                                {{y.menuItem[meta.siteLanguage].fm.title}}
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% if loop.last %}
                                    </ul>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <a href="/{{x.menuItem[meta.siteLanguage].prettyUrl}}">
                                    {{x.menuItem[meta.siteLanguage].fm.title}}
                                </a>
                            {% endif %}


                        </li>
                    {% endif %}
                {% if loop.last %}
                </ul>
                {% endif %}
            {% endfor %}
		</li>
	</ul>
</nav>