{% if languages.list.length > 1 %}
<div id="popup" class="popup">
    <a href="#" class="popup-close gb-icon-close_L"></a>
    <div class="popup-languages">
        <p>What is your preferred language</p>

        {% for abbr in languages.list%}
        {% if loop.first %}
        <ul>
            {% endif %}
            <li>
                <a href="/{{versions[abbr]}}" {% if abbr == meta.siteLanguage %} class="active" {% endif %}>{{languages[abbr].name}}</a>
            </li>
            {% if loop.last %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>

    <div class="popup__privacy">
        <p>
            We use cookies to deliver this service. You can read more in our <a href="//www.gbif.org/terms/privacy-policy">privacy policy</a>
        </p>
    </div>
</div>
{% endif %}