<div class="Search" id="site_search">
    <div class="Search__content" id="search">
        <form>
            <input type="text" placeholder="Search" name="search" class="search-input">
            <button type="submit" class="gb-icon-search"><span>Search</span></button>
        </form>
        <div id="Search__feedback">
	        <div class="Search__results">
	        </div>
            <div class="Search--message">{{i18n.cannotFindInformation[meta.siteLanguage]}}</div>
    	</div>
        <script type="text/html" id="searchResultTemlpate">
        	{% raw %}
        	<a href="{{href}}"><h2>{{title}}</h2><span>{{category}}</span><p>{{desc}}</p></a>
        	{% endraw %}
		</script>
    </div>
</div>