<div class="Search 
            {% if languages[meta.siteLanguage].dir == 'rtl' %} rtl {% endif %}" id="site_search">
    <div class="Search__content" id="search">
        <form>
            <input type="text" placeholder="{{i18n.searchPlaceholder[meta.siteLanguage]}}" name="search" class="search-input">
            <button type="submit" class="gb-icon-search"><span>{{i18n.searchPlaceholder[meta.siteLanguage]}}</span></button>
        </form>
        <div id="Search__feedback">
	        <div class="Search__results">
	        </div>
    	</div>

        <script type="text/html" id="searchResultTemlpate">
        	{% include "searchResultTemplate.html" %}
		</script>

    </div>
</div>