icon-button-size = 40px
icon-button-size-touch = 50px

.button, .button:hover
	width: icon-button-size
	height: icon-button-size
	background-color: button-bg-color
	opacity: 0.7
	color: button-color
	line-height: icon-button-size
	text-align: center
	vertical-align: middle
	user-select: none
	cursor: pointer
	border-radius: 100%;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
	margin: 10px;
.button
	&:hover
		background-color: darken(button-bg-color, 10)

.isTouch .button
	width: icon-button-size-touch
	height: icon-button-size-touch
	line-height: icon-button-size-touch
