.site-intro .site-navigation .languageSelector
	ul
		border-bottom: 1px solid darken(paper-color, 5)
		max-height: 0px
		overflow: hidden
		transition: max-height 0.3s ease
	&.isExpanded>ul
		max-height: 250px
	.languageSelector-description
		color _discreet(paper-color, 100)
	a
		display:block
	>a
		padding: 15px 20px
		&:hover
			color: darken(ink-color, 20)
			background-color: darken(paper-color, 5)
	li>a
		padding: 5px 20px
		color: lighten(ink-color, 50)
		&:hover
			color: ink-color
	span
		padding-right 10px


if (horizontalLayout)
	@media (min-width: laptop)
		.site-intro .site-navigation .languageSelector
			display:inline
			position relative
			ul
				border-bottom: none
				max-height: 250px
				display none
				position absolute
				left -1.5em
				top 1.5em
				background paper-color
				_shadow(1,2)
			&.isExpanded>ul
				border: 1px solid darken(paper-color, 5)
				display: block
				overflow visible
				&:before
					content: "";
					position: absolute;
					width: 0;
					height: 0;
					left: 50%;
					margin-left: -12px;
					top: -12px;
					border: 6px solid transparent;
					border-bottom: 5px solid paper-color;
			>a
				display:inline-block
				padding: 15px 20px
				&:hover
					color: darken(horizontalBgColor, 30)
					background-color: inherit
			li
				>a
					border-bottom 5px solid transparent
					padding: 5px 20px
					color: darken(horizontalBgColor, 30)
					&:hover
						color: ink-color
						border-bottom 5px solid link-bg-color
					&.active
						background-color: darken(paper-color, 5)
			.languageSelector-description
				display none
