.navigation-main
	>ul>li>a:first-of-type, >ul>li:last-of-type
		border-bottom: 1px solid darken(paper-color, 5)
	li
		cursor: pointer
		a
			display:block
			text-decoration: none
			text-transform: capitalize
			color: ink-color
			&:hover
				color: darken(ink-color, 20)
				background-color: darken(paper-color, 5)
		&.isActive
			>a
				color: darken(ink-color, 20)
	>ul>li
		>a
			padding: 15px 20px
		>ul
			>li
				&.isActive
					>a
						background-color: darken(paper-color, 5)
				>a
					padding: 15px 20px
					&:after
						position: absolute
						right: 10px
					&.isExpandable:after
						content: "+"
				>ul
					display: none
					>li
						>a
							padding: 7px 20px 7px 20px
							color: lighten(ink-color, 30)
							&:hover
								background-color: inherit
				&.isActive
					ul
						display: block
					a.isExpandable:after
						content: "-"

if (horizontalLayout)
	@media (min-width: laptop)
		.site-intro
			.site-navigation
				.navigation-main
					display: inline
					a, ul, li
						border: none
						display:inline-block
						&.isActive, &.isActive>a
							background: primary-color
						&:hover
							color: darken(primary-color, 30)
							background: primary-color
					ul>li>ul>li
						&:before
							content: "\2022"
							font-size: 20px
							color: darken(primary-color, 30)
					.isExpandable:after
						content: ""
					>ul>li
						display:inline
						a
							color: white
							letter-spacing: 1px
						>ul>li
							>a
								padding: 0 30px
								display: inline-block
							>ul
								display: none