.site-intro
	header
		display:none
		width: 100%
		height: layout_header-height
		z-index: 100
		background-color: primary-color
		
		h1
			color: primary-ink-color
			&:before
				content: 'LOGO'
				margin-right: 20px