.page-wrapper>.skip
	position fixed
	left 0
	background $ink
	color $content_bg
	padding 10px 0
	letter-spacing 1px
	line-height 1.75em
	text-align center
	text-transform uppercase
	top -12.5em
	transition top 0.3s ease
	width 100%
	z-index 600
	text-decoration underline
	outline none
	_shadow(2)
	&:hover
		background $ink
	&:focus 
		top 0