.article {
	-webkit-font-smoothing antialiased
	font-size $articleFontSize
	background $articleBg
	
	h2 {
		margin-top vr-block(3)
	}
	h3 {
		margin-top vr-block(2)
	}
	h4 {
		margin-bottom 0.5rem
	}
	h5, h6 {
		margin-bottom 0.5rem
	}
	.block-content {
		>h2:first-child, >h3:first-child {
			margin-top vr-block(1)
		}
	}
	
	.article__content {
		overflow hidden //ensures that margins doesn't overflow container
	}
	.article__headerImage {
		max-width $article_max_width
		margin 0 auto
		.responsiveImage {
			padding-bottom 40%
			margin 0
		}
	}
	.article__category {
		margin vr-block(1) auto 0 auto
		text-align center
		text-transform: uppercase
		font-size 80%
		font-weight bold
		>span:last-of-type {
			font-weight normal
		}
		.article__category__lower {
			border-left 2px solid $articleCategorySpacerColor
			margin-left 5px
			padding-left 5px
		}
		+h1 {
			margin-top 0
		}
	}
}
section.block {
		max-width $article_max_width
		margin 0 auto
		margin-bottom vr-block(1)
		background $article-content-bg
		overflow hidden
		&:last-of-type {
			margin-bottom 0
			.block-content {
				margin-bottom vr-block(3)
			}
		}
		h1 {
			margin-top vr-block(1)
			margin-bottom vr-block(1.5)
			font-weight $articleHeader_weight
			color $articleHeader_textColor
			text-align center
			padding-bottom vr-block(1)
		}
	}
	.block-content {
		a {
			text-decoration none
			border-bottom dotted 1px $LinkBorderColor
			&:hover {
				background-color $LinkHoverBg
			}
		}
		>div a {
			border-bottom none
			&:hover {
				background-color inherit
			}
		}
	}
	.block-content {
		margin-left $articleMarginSmall
		margin-right $articleMarginSmall
		margin-top vr-block(1)
		max-width $article_max_width
	}
	.block-first {
		background $articleHeader_bg
		h1 {
			border-bottom $articleHeader_border
		}
	}
	.block-content {
		>h1+p>em {
			text-align center
			display block
			margin-top -(vr-block(1))
		}
	}
	
.Site__contentArea.article .Site__contentArea__main.rtl> article {
	direction rtl
}

+isAbove($laptop) {
	.article {
		.block-content {
			margin-left $articleMarginLarge
			margin-right $articleMarginLarge
		}
	}
}