.article {
	-webkit-font-smoothing antialiased
	font-size $articleFontSize
	background $articleBg
	.article__content {
		overflow hidden //ensures that margins doesn't overflow container
	}
	.article__headerImage {
		max-width $article_max_width
		margin 0 auto
		.responsiveImage {
			padding-bottom 50%
			margin 0
		}
	}
	.article__category {
		margin 0 auto
		text-align center
		text-transform: uppercase
		font-size 80%
		font-weight bold
		>span:last-of-type {
			font-weight normal
		}
		.article__category__lower {
			border-left 2px solid $articleCategorySpacerColor
			margin-left 5px
			padding-left 5px
		}
	}
	section.block {
		max-width $article_max_width
		margin 0 auto
		margin-bottom vr-block(1)
		background $article-content-bg
		overflow hidden
		&:last-of-type {
			margin-bottom 0
		}
	}
	.block-content a {
		text-decoration none
		border-bottom dotted 1px $LinkBorderColor
		&:hover {
			background-color $LinkHoverBg
		}
	}
	.block-content {
		margin 0 $articleMarginSmall
		margin-top vr-block(1)
		max-width $article_max_width
	}
	.block-first {
		background $articleHeader_bg
		h1 {
			margin-bottom vr-block(1)
			font-weight $articleHeader_weight
			color $articleHeader_textColor
			text-align center
			padding-bottom vr-block(1)
			border-bottom $articleHeader_border
		}
	}
	.block-content {
		>h1+p>em, >p:first-child>em {
			text-align center
			display block
		}
	}
}
.Site__contentArea.article .Site__contentArea__main.rtl> article {
	direction rtl
}

+isAbove($laptop) {
	.article {
		.block-content {
			margin 0 $articleMarginLarge
			margin-top vr-block(1)
		}
		.article__headerImage {
			.responsiveImage {
				padding-bottom 30%
			}
		}
	}
}