@media print {
	.SiteHeader, .SiteNav, #site_search, .popup, .skip {
		display none
	}

	html, body, .page-wrapper, .siteCanvas, #main {
		height auto
	}

	.Site__contentArea .Site__contentArea__main {
		display block
	}
}
