/* BREAK POINTS*/
// mobile : 0px; //mobile first, no support for wearables
tablet = 768px
tabletLandscape = 906px
laptop = 1024px
desktop = 1200px

horizontalLayout = false // true OR false

/* HEADER */
layout_header-height = 0px//45px


/* DRAWERS */
layout_drawer-width = 17em

/* LOGO */
siteLogo = url(/images/logo_white.png) //url(/images/BID-v2.png)

/* BRAND COLORS */
Green = rgb(80,158,47);  		// Green
Black = rgb(35, 31, 32) 		// Black
Azure = rgb(23,92,161);  		// Azure
Aqua = rgb(64,191,255); 		// Aqua
purple = rgb(99,111,180);   	// purple
SkyBlue = rgb(229, 255, 255)	// sky blue
OrangePeel = rgb(253, 176, 2)	// orange peel
Plum = rgb(126,70,106);  		// plum
Terracotta = rgb(214,111,39);   // Terracotta
Mist = rgb(232, 232, 232) 		// mist

/* COLORS */
primary-color = rgb(123, 194, 212)//lighten(Plum, 30%) //rgb(123, 194, 212)

color-dark = #333
color-bright = #FDFDFD
LightnessBreak = 70%
paper-color = color-bright
background-color = paper-color//#F1F1F1
ink-color = color-dark
link-bg-color = OrangePeel
button-bg-color = Black //primary-color //rgb(80,158,47)
button-color = _inkColor(button-bg-color)