/* FUNCTIONS */
_inkColor(bg)
	if lightness(bg) < LightnessBreak
		color-bright
	else
		color-dark

_discreet(bg, amount = 30)
	if dark(bg)
		lighten(bg, amount)
	else
		darken(bg, amount/2)


/* MIXINS */
_shadow(h, v=0)
	if h==0
		box-shadow: none
	else if h>0
		box-shadow: 1px*v 1px*h 0.5px*h 1px rgba(0, 0, 0, 0.15);
	else
		box-shadow: inset 1px*h 1px*v -1px*h 1px rgba(0, 0, 0, 0.15);


/* ABSTRACT EXTENDS */
.font-main
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

.font-article
	font-family: 'Times New Roman', Times, serif

.brandBorder
	border-image: linear-gradient(90deg,
	Green 15%,
	Azure 15%,
	Azure 32%,
	OrangePeel 32%,
	OrangePeel 52%,
	Aqua 52%,
	Aqua 62%,
	purple 62%,
	purple 70%,
	SkyBlue 70%,
	SkyBlue 85%,
	Plum 85%,
	Plum 90%,
	Mist 90%
	);
	border-image-source: linear-gradient(90deg,
	Green 15%,
	Azure 15%,
	Azure 32%,
	OrangePeel 32%,
	OrangePeel 52%,
	Aqua 52%,
	Aqua 62%,
	purple 62%,
	purple 70%,
	SkyBlue 70%,
	SkyBlue 85%,
	Plum 85%,
	Plum 90%,
	Mist 90%
	);
	border-image-slice: 1;
	border-width: 0 0 0 0;