icon-button-size = 40px
icon-button-size-touch = 50px
button-color = black //primary-color //rgb(80,158,47)
.button
	width: icon-button-size
	height: icon-button-size
	background-color: button-color
	opacity: 0.7
	color: _inkColor(button-color)
	line-height: icon-button-size
	text-align: center
	vertical-align: middle
	user-select: none
	cursor: pointer
	border-radius: 100%;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
	margin: 10px;
	&:hover
		background-color: darken(button-color, 10)

.isTouch .button{
	width: icon-button-size-touch
	height: icon-button-size-touch
	line-height: icon-button-size-touch
}
.toggle {

}

.toggle-nav
	position:fixed
	top: 0px
	left: 0px
	display:block
	>i:before
		content: '\2630'