

/*Reset Styles*/
/*
, applet, object, iframe, h4, h5, h6,blockquote, pre,abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,center,legend,
table, caption, tbody, tfoot, thead, tr, th, td,canvas, details, embed, 
article, aside, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button,dl, dt, dd, ol,b, u, figure, figcaption, footer, header, hgroup,
*/
div, span, h1, h2, h3, p, a, i, ol, ul, li, fieldset, form, label, input, address, section, header
    margin: 0px
    padding: 0px
    border: 0px
    font-size: 100%
    font: inherit
    vertical-align: baseline
    box-sizing: border-box

ol, ul
    list-style: none

html, body
    padding: 0
    margin: 0
    height: 100%

body
    color: ink-color
    background: background-color
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size: 16px
    overflow-x: hidden


