/* BREAK POINTS*/
// mobile : 0px; //mobile first, no support for wearables
$tablet := 768px
$laptop := 900px//1024px
$desktop := 1200px


/* BRAND COLORS */
$Green = rgb(80,158,47);  		// Green
$Black = rgb(35, 31, 32) 		// Black
$Azure = rgb(23,92,161);  		// Azure
$Aqua = rgb(64,191,255); 		// Aqua
$purple = rgb(99,111,180);   	// purple
$SkyBlue = rgb(229, 255, 255)	// sky blue
$OrangePeel = rgb(253, 176, 2)	// orange peel
$Plum = rgb(126,70,106);  		// plum
$Terracotta = rgb(214,111,39);  // Terracotta
$Mist = rgb(232, 232, 232) 		// mist


/* SITE SPECIFIC COLORS */
$c_main := $Mist//#67A05D
$c_sec := #F5CC27
$_accent := $purple
$content_bg := #fffefe//$Mist
$ink = #333

/*Navigation-bar variables*/
$navbar_height := vr-block(3)
$navbar_borderWidth := vr-block(0.25)
$navbar_bg := tomato//$Mist
$navbar_BorderColor := deepskyblue
$navbar_textColor := $Mist
$navbar_textColor_hover := lighten($navbar_textColor, 80%)
$navbar_dropdown_bg := white
$navbar_dropdown_megaColor := tomato
$navbar_dropdown_color := #333
$navbar_horizontal_color := $c_main
$navbar_dropdown_triangle_color := $navbar_dropdown_bg

$logo_color := $navbar_textColor

/* DRAWERS */
$drawer-width := 300px
$nav_drawer_bg := #444
$nav_drawer_color := #ddd
$nav_drawer_image := "/images/arch2.jpeg"

$toc_drawer_bg := $content_bg
$toc_drawer_color := $ink
$toc_h2_underline_color := tomato
$toc_toggle_bg := #333
$toc_toggle_color := $Mist
$toc_drawer_button_height := vr-block(2)

//TranslationNotification
$translationNotification_bg := #444
$translationNotification_color := #ddd

//articles
$article_max_width := 800px

$borderWidth := vr-block(0.25);


//Typography
$body-font          := $helvetica
$body-font-weight   := 400
$body-color         := #555
$header-font        := $helvetica
$header-font-weight := 400
$header-color       := #111


/* LOGO */
siteLogo := url(/images/logo_white.png) //url(/images/BID-v2.png)

/* COLORS */
$primary-color := rgb(123, 194, 212)//lighten(Plum, 30%) //rgb(123, 194, 212)

$color-dark := #333
$color-bright := #FDFDFD
$LightnessBreak := 70%
$paper-color := $color-bright
$background-color := $paper-color//#F1F1F1
$ink-color := $color-dark
$link-bg-color := $OrangePeel
$button-bg-color := $Black //primary-color //rgb(80,158,47)
$button-color := tomato
$popupBorderColor = pink

$articleHeader_textColor := inherit//white
$articleHeader_weight := bold
$articleHeader_bg := inherit//lighten(tomato, 20%)//coral
$articleHeader_border := vr-block(0.125) dotted deepskyblue