/* BREAK POINTS*/
// mobile : 0px; //mobile first, no support for wearables
$tablet := 768px
$laptop := 900px//1024px
$desktop := 1200px


/* BRAND COLORS - for reference*/
$Green = rgb(80,158,47);  		// Green
$Black = rgb(35, 31, 32) 		// Black
$Azure = rgb(23,92,161);  		// Azure
$Aqua = rgb(64,191,255); 		// Aqua
$purple = rgb(99,111,180);   	// purple
$SkyBlue = rgb(229, 255, 255)	// sky blue
$OrangePeel = rgb(253, 176, 2)	// orange peel
$Plum = rgb(126,70,106);  		// plum
$Terracotta = rgb(214,111,39);  // Terracotta
$Mist = rgb(232, 232, 232) 		// mist


$borderWidth := vr-block(0.25);

// text and background
$content_bg := #fffefe
$ink = #333

//Navigation-bar variables
$navbar_height = vr-block(3)
$navbar_borderWidth = vr-block(0.25)
$navbar_bg := tomato
$navbar_BorderColor := deepskyblue
$navbar_textColor := $Mist
$navbar_textColor_hover := lighten($navbar_textColor, 80%)
$navbar_dropdown_bg := white
$navbar_dropdown_megaColor := tomato
$navbar_dropdown_color := #333
$navbar_horizontal_color := $Mist
$navbar_dropdown_triangle_color := $navbar_dropdown_bg

//Drawers
$drawer-width := 300px
$nav_drawer_bg := #444
$nav_drawer_color := #ddd
$nav_drawer_image := "/images/drawer.jpg"

//links
$LinkBorderColor := $OrangePeel

//Logo
$site-logo-content := $icon-string-logo
$logo_color := $navbar_textColor

//Footer
$footer_bg := $navbar_bg
$footer_color := $navbar_textColor
$footer_border_width := $navbar_borderWidth
$footer_border_color := $navbar_BorderColor

//TOC
$toc_drawer_bg := $content_bg
$toc_drawer_color := $ink
$toc_h2_underline_color := tomato
$toc_toggle_bg := #333
$toc_toggle_color := $Mist
$toc_drawer_button_height := vr-block(2)

//TranslationNotification
$translationNotification_bg := #444
$translationNotification_color := #ddd

//Typography
$body-font          := $helvetica
$body-font-weight   := 300
$body-color         := #333
$header-font        := $helvetica
$header-font-weight := 500
$header-color       := #555
$html-font-size		:= 15px
$blockquote_border_color := #555

//article
$article_max_width := 800px
$articleHeader_textColor := inherit
$articleHeader_weight := bold
$articleHeader_bg := inherit
$articleHeader_border := vr-block(0.125) dotted $navbar_BorderColor

//search
$search_result_bg := #eee
$search_result__header_bg := #eee
$search_result_color := #222
$search_result_border_color := #555

//popup
$popupBg := $content_bg
$popupButtonColor := #ccc
$popupColor := $ink
$popupBorderColor = $ink