.popup {
	position fixed
	margin 0 auto
	bottom -500px
	left 0
	right 0
	background $paper-color
	padding vr-block(0.5)
	transition bottom 0.3s ease
	box-shadow: 1px -1px 5px 2px rgba(0, 0, 0, 0.15);
	border $borderWidth solid $popupBorderColor
	border-bottom-width 0px
	max-width 500px
	p {
		font-size 0.9rem
		padding: vr-block(0.5)
		margin 0
	}
	a {
		text-decoration none
		color $popupColor
		border: none
		background-color none
	}
	&.isVisible {
		bottom 0
	}
	.popup-close {
		position absolute
		top 0
		right 0
		padding vr-block(1)
	}
	.popup-languages {
		ul {
			padding 0
			display flex
			flex-wrap wrap
		}
		li {
			flex 0 0 auto
			display inline-block
			margin: 10px 5px
			a {
				background: $popupBg
				padding: vr-block(0.5) vr-block(0.5)
				color: $popupColor
				border-left $borderWidth solid $popupBg
				&:hover {
					border-left-color $navbar_BorderColor
				}
			}
		}
	}
	.popup__privacy {
		a {
			border-bottom dotted 1px $popupColor
		}
	}
}
