.responsiveImageContainer {
	margin-left auto
	margin-right auto
}
.responsiveImage {
	>img {
		width 100%
	}
	overflow hidden
	width 100%
	height 0
	padding-bottom 50%
	margin 0 auto vr-block(1) auto
	position relative
	.responsiveImage_license {
		display none
		position absolute
		top 0
		background-color rgba(0,0,0,0.3)
		color #ddd
		padding 0 3px
		line-height 20px
		font-size 14px
		.responsiveImage__icon {
			width vr-block(1)
			font-size 20px
			width 20px
			vertical-align bottom
			display inline-block
			text-align center
		}
		.responsiveImage__info{
			display none
			a {
				text-decoration none
				&:hover {
					text-decoration underline
				}
			}
		}
		&:hover {
			display inline-block
			.responsiveImage__info{
				display inline
			}
		}
	}
	&:hover .responsiveImage_license {
		display block
	}
}

.responsiveImage {
	for num in 10 20 20 30 35 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200{
		&.img_r_{num} {
			padding-bottom (num)%
		}
	}
}

//should use range, but that currently conflicts with Axis https://github.com/jenius/axis/issues/261
for num in 50 100 150 200 250 300 350 400 450 500 550 600 650 700 750 800{
	.w_{num} {
		max-width (num)px
	}
}
