
.Search--message {
	text-align center
	margin vr-block(2)
}

.Search__content {
	padding 0 vr-block(1)
}
.Search__results {
	display none
}
.Search--showResults .Search__results {
	display flex
	flex-wrap wrap
	>a {
		//padding vr-block(0.5) vr-block(1)
		margin vr-block(0.5)
		float left
		display block;
		flex 1 1 auto
		width 350px
		min-width 200px
		background #fff//$search_result_bg
		text-decoration none
		position relative
		color #444//$searchResultColor
		border 1px solid #ddd
		h3 {
			color $searchResultHeaderColor
			background #444
			padding 0.75rem 1rem
		}
		span {
			margin 0.5rem 1rem
			display block
			font-size 0.8rem
			text-transform uppercase
			color $searchCategoryColor
			line-height 1.5rem
		}
		p{
			margin 0rem 1rem
			margin-bottom 0.75rem
		}
	}
}
.Search.rtl {
	direction rtl
}