.Search--message {
	text-align center
	margin vr-block(2)
}

.Search__content {
	margin 0 vr-block(1)
}
.Search__results {
	display none
}
.Search--showResults .Search__results {
	display flex
	flex-wrap wrap
	>a{
		padding vr-block(1)
		float left
		display block;
		flex 1 1 auto
		width 350px
		min-width 250px
		background tomato
		margin vr-block(1)
	}
}