{% if languages.list.length > 1 %}
<nav class="languageSelector" id="languageSelector" title="{{i18n.languageSelector_title[meta.siteLanguage]}}">
	{% for abbr in languages.list%}
        {% if loop.first %}
        <a href="#"><span class="icon-earth"></span><span class="languageSelector-description">{{i18n.languageSelector_title[meta.siteLanguage]}}<span></a>
        <ul>
        {% endif %}
            <li>
                <a href="/{{versions[abbr]}}" {% if abbr == meta.siteLanguage %} class="active" {% endif %}>{{languages.languages[abbr]}}</a>
            </li>
        {% if loop.last %}
        </ul>
        {% endif %}
	{% endfor %}
</nav>
{% endif %}