.site-navigation
	.info
		padding: 15px 20px
		span
			padding-right 10px
		.info-description
			color _discreet(paper-color, 100)

if (horizontalLayout)
	@media (min-width: laptop)
		.site-navigation
			.info
				display inline-block
				position absolute
				right 0
				top 0
				padding 15px 10px
				span, .info-description
					color _discreet(horizontalBgColor)