.navigation
	background: paper-color
	position: fixed
	width: layout_drawer-width
	bottom: 0px
	z-index: 50
	overflow-x: auto
	top: layout_header-height
	transition: left 0.3s ease, right 0.3s ease;
		
.site-intro
	.site-navigation
		@extends .navigation
		z-index: 100
		// top: 0px
		_shadow(2,1)
		left: -(layout_drawer-width)
		&.toggle
			left: 0px
		
.context-options
	@extends .navigation
	right: 0px
	right: -(layout_drawer-width)
	_shadow(1,-1)
	.share
		position:absolute;
		float:right
