.font-main {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-article {
  font-family: 'Times New Roman', Times, serif;
}
.brandBorder,
.brandBanner {
  border-image: -webkit-linear-gradient(0deg, #509e2f 15%, #175ca1 15%, #175ca1 32%, #fdb002 32%, #fdb002 52%, #40bfff 52%, #40bfff 62%, #636fb4 62%, #636fb4 70%, #e5ffff 70%, #e5ffff 85%, #7e466a 85%, #7e466a 90%, #e8e8e8 90%);
  border-image: linear-gradient(90deg, #509e2f 15%, #175ca1 15%, #175ca1 32%, #fdb002 32%, #fdb002 52%, #40bfff 52%, #40bfff 62%, #636fb4 62%, #636fb4 70%, #e5ffff 70%, #e5ffff 85%, #7e466a 85%, #7e466a 90%, #e8e8e8 90%);
  border-image-source: linear-gradient(90deg, #509e2f 15%, #175ca1 15%, #175ca1 32%, #fdb002 32%, #fdb002 52%, #40bfff 52%, #40bfff 62%, #636fb4 62%, #636fb4 70%, #e5ffff 70%, #e5ffff 85%, #7e466a 85%, #7e466a 90%, #e8e8e8 90%);
  border-image-slice: 1;
  border-width: 0 0 0 0;
}
@font-face {
  font-family: 'ssgbase';
  src: url("fonts/ssgbase.eot?srfmlt");
  src: url("fonts/ssgbase.eot?srfmlt#iefix") format('embedded-opentype'), url("fonts/ssgbase.ttf?srfmlt") format('truetype'), url("fonts/ssgbase.woff?srfmlt") format('woff'), url("fonts/ssgbase.svg?srfmlt#ssgbase") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'ssgbase';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gbif:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\6d";
}
.icon-search:before {
  content: "\73";
}
.icon-menu2:before {
  content: "\6e";
}
.icon-earth:before {
  content: "\67";
}
.icon-cross:before {
  content: "\63";
}
.icon-share2:before {
  content: "\64";
}
.icon-link:before {
  content: "\6c";
}
.icon-file-pdf:before {
  content: "\70";
}
div,
span,
h1,
h2,
h3,
h4,
p,
a,
i,
ul,
ol,
li,
fieldset,
form,
label,
input,
address,
section,
header {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  line-height: 1.5em;
  vertical-align: baseline;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}
ul,
ol {
  padding-left: 1em;
}
body {
  color: #333;
  background: #fdfdfd;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-width: 250px;
  line-height: 1.5em;
}
.brandBanner {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 200;
  border-top: 3px solid transparent;
}
.button {
  width: 40px;
  height: 40px;
  background-color: #231f20;
  opacity: 0.7;
  color: #fdfdfd;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
  margin: 10px;
}
.button:hover {
  background-color: #080707;
}
.isTouch .button {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.search .search-form .search-submit {
  display: none;
}
.search .search-form .search-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  margin: 0;
  font-weight: 500;
  border: none;
  background: transparent;
  font-size: 1em;
  color: #7bc2d4;
}
.search .search-form .search-input:focus {
  outline: none;
}
.navigation-main .not-result-item {
  display: none;
}
.site-navigation .navigation-main.no-search-match a {
  color: #b3b3b3;
}
.login {
  display: none;
}
.share {
  display: none;
}
.brand {
  background: #333;
  text-align: center;
  overflow: hidden;
  padding: 20px;
  padding-left: 0px;
}
.brand a {
  margin: auto;
}
.brand div {
/*color _inkColor(brand-background-color)*/
  background: url("/images/logo_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 3em;
  width: 4em;
  background-position: bottom;
  display: inline-block;
}
.brand h1 {
  border-left: 3px solid #fdfdfd;
  line-height: 1em;
  padding-left: 5px;
  margin-left: 5px;
  color: #fdfdfd;
  font-weight: bold;
  display: inline-block;
  font-size: 3em;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .brand {
    padding: 50px 20px;
  }
}
@media (min-width: 1024px) {
  .brand {
    padding: 50px 20px;
  }
}
.ie8 .brand div {
  display: none;
}
.ie8 .brand h1 {
  border-width: 0px;
  padding-left: 0px;
  margin-left: 0px;
}
.site-intro .site-navigation .languageSelector ul {
  border-bottom: 1px solid #f0f0f0;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
.site-intro .site-navigation .languageSelector.isExpanded>ul {
  max-height: 250px;
}
.site-intro .site-navigation .languageSelector .languageSelector-description {
  color: #7e7e7e;
}
.site-intro .site-navigation .languageSelector a {
  display: block;
}
.site-intro .site-navigation .languageSelector >a {
  padding: 15px 20px;
}
.site-intro .site-navigation .languageSelector >a:hover {
  color: #000;
  background-color: #f0f0f0;
}
.site-intro .site-navigation .languageSelector li>a {
  padding: 5px 20px;
  color: #b3b3b3;
}
.site-intro .site-navigation .languageSelector li>a:hover {
  color: #333;
}
.site-intro .site-navigation .languageSelector span {
  padding-right: 10px;
}
.navigation-main >ul>li>a:first-of-type,
.navigation-main >ul>li:last-of-type {
  border-bottom: 1px solid #f0f0f0;
}
.navigation-main li {
  cursor: pointer;
}
.navigation-main li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
}
.navigation-main li a:hover {
  color: #000;
  background-color: #f0f0f0;
}
.navigation-main li.isActive >a {
  color: #000;
}
.navigation-main >ul>li >a {
  padding: 15px 20px;
}
.navigation-main >ul>li >ul >li.isActive >a {
  background-color: #f0f0f0;
}
.navigation-main >ul>li >ul >li >a {
  padding: 15px 20px;
}
.navigation-main >ul>li >ul >li >a:after {
  position: absolute;
  right: 10px;
}
.navigation-main >ul>li >ul >li >a.isExpandable:after {
  content: "+";
}
.navigation-main >ul>li >ul >li >ul {
  display: none;
}
.navigation-main >ul>li >ul >li >ul >li >a {
  padding: 10px 20px 10px 40px;
  color: #808080;
}
.navigation-main >ul>li >ul >li >ul >li >a:hover {
  background-color: inherit;
}
.navigation-main >ul>li >ul >li.isActive ul {
  display: block;
}
.navigation-main >ul>li >ul >li.isActive a.isExpandable:after {
  content: "-";
}
.site-navigation .info {
  padding: 15px 20px;
}
.site-navigation .info span {
  padding-right: 10px;
}
.site-navigation .info .info-description {
  color: #7e7e7e;
}
.toggle-nav {
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
}
.toggle-nav >i:before {
  content: '\2630';
}
@media (min-width: 1024px) {
  .toggle-nav {
    display: none;
  }
}
.overlay {
  position: fixed;
  z-index: 50;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  display: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 1024px) {
  body.hasOverlay {
    width: 100%;
  }
  body.hasOverlay.isTouch {
    position: fixed;
    overflow: hidden;
  }
  body.hasOverlay >.overlay {
    display: block;
  }
}
main {
/*padding-top: layout_header-height*/
  padding-left: 0px;
  -webkit-transition: padding-left 0.3s ease;
  transition: padding-left 0.3s ease;
}
.navigation,
.site-intro .site-navigation {
  background: #fdfdfd;
  position: fixed;
  width: 17em;
  bottom: 0px;
  z-index: 50;
  overflow: auto;
  top: 0;
  -webkit-transition: left 0.3s ease, right 0.3s ease;
  transition: left 0.3s ease, right 0.3s ease;
}
.site-intro ul {
  list-style: none;
}
.site-intro ul,
.site-intro ol,
.site-intro li {
  padding: 0px;
}
.site-intro a {
  text-decoration: none;
}
.site-intro .site-navigation {
  z-index: 100;
/*top: 50px*/
  box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.15);
  left: -22em;
}
.site-intro .site-navigation a {
  color: #333;
}
.site-intro .site-navigation.toggle {
  left: 0px;
}
@media (min-width: 1024px) {
  .site-intro .site-navigation {
    left: 0px;
    top: 0px;
  }
  main {
    padding-left: 17em;
  }
}
.ie8 .site-intro .site-navigation {
  border-right: 1px solid #808080;
}
.skip {
  position: fixed;
  left: 0;
  background: #333;
  color: #fff;
  padding: 10px 0;
  letter-spacing: 1px;
  line-height: 1.75em;
  text-align: center;
  text-transform: uppercase;
  top: -12.5em;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  width: 100%;
  z-index: 600;
  text-decoration: underline;
  outline: none;
  box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.15);
}
.skip:hover {
  background: #333;
}
.skip:focus {
  top: 0;
}
main >section >.content {
  position: relative;
  background-color: #fdfdfd;
/*_shadow(1)*/
}
main >section >.content >article {
  color: #333;
  overflow-x: hidden;
  margin: 0px auto;
}
main >section >.content >article .contacts {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main >section >.content >article .contact {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: auto;
  display: inline-block;
  margin: 2em;
}
main >section >.content >article .contact div {
  margin: auto;
  width: 15em;
  height: 15em;
  border-radius: 7.5em;
  background-size: cover;
  background-position: center;
}
main >section >.content >article .contact address {
  margin: 1em;
}
main >section >.content >article .contact address span {
  display: block;
  text-align: center;
  font-weight: 400;
  padding: 2px;
}
main >section >.content >article .contact address span a {
  padding: 2px;
}
main >section >.content >article >section {
  background-color: #fdfdfd;
  background-size: cover;
  background-position: center;
}
main >section >.content >article >section.block-first {
  background-color: #7bc2d4;
}
main >section >.content >article >section.block-first >div {
  max-width: none;
}
main >section >.content >article >section:nth-of-type(1) ~ * {
  background: #fdfdfd;
}
main >section >.content >article >section:nth-of-type(2) ~ * {
  background: #f5f5f5;
}
main >section >.content >article >section:nth-of-type(3) ~ * {
  background: #fdfdfd;
}
main >section >.content >article >section:nth-of-type(4) ~ * {
  background: #f5f5f5;
}
main >section >.content >article >section:last-of-type {
  padding-bottom: 50px;
}
main >section >.content >article >section:first-of-type {
  padding: 0;
}
main >section >.content >article >section.hasImage>div>h1 {
  color: #333;
  padding: 3em 1em;
}
main >section >.content >article >section >div {
  max-width: 768px;
  margin: auto;
  padding: 10px 10px 20px 10px;
}
main >section >.content >article >section >div >p {
/*@extends .font-article*/
  font-size: 1em;
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
}
main >section >.content >article >section >div >h1 {
  margin: 0;
  padding: 2em 1em;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
/*color: lighten(ink-color, 10)*/
/*background: url('https://images.unsplash.com/photo-1440470177828-6381dc5074ba?fit=crop&fm=jpg&h=1100&ixlib=rb-0.3.5&q=80&w=1450')//orange*/
/*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),  rgba(255, 255, 255, 0.5)), url(https://images.unsplash.com/photo-1440470177828-6381dc5074ba?fit=crop&fm=jpg&h=1100&ixlib=rb-0.3.5&q=80&w=1450)*/
/*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2),  rgba(255, 255, 255, 0.2)), url(https://images.unsplash.com/photo-1432057322224-8916b9ed202a?fit=crop&fm=jpg&h=1100&ixlib=rb-0.3.5&q=80&w=1450)*/
/*background-size: cover*/
/*background-color: primary-color*/
  color: #fdfdfd;
  width: 100%;
}
main >section >.content >article >section >div >h2 {
  font-size: 1.4em;
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
}
main >section >.content >article >section >div a.anchor {
  display: none;
  padding-left: 1em;
/*padding-top: layout_header-height*/
/*margin-top: -layout_header-height*/
  background: none;
  border: none;
}
main >section >.content >article >section >div >h3:hover a.anchor,
main >section >.content >article >section >div >h4:hover a.anchor {
  display: inline;
  background: none;
}
main >section >.content >article >section >div >h3 {
  font-variant: small-caps;
  border-bottom: 1px dotted;
  margin-bottom: 1em;
  margin-top: 2em;
}
main >section >.content >article >section >div >h4 {
  font-weight: bold;
}
main >section >.content >article >section >div >blockquote {
  border-left: 5px solid #ba7bd4;
  margin: 30px 0;
  padding: 10px 40px;
}
main >section >.content >article >section >div >blockquote p {
  margin-bottom: 0px;
  font-style: italic;
}
main >section >.content >article >section >div >blockquote img {
  max-width: 100px;
  display: block;
  margin: 0;
}
main >section >.content >article >section >div a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px dotted #333;
}
main >section >.content >article >section >div a:hover {
  background-color: #fdb002;
  border: none;
}
main >section >.content >article >section >div img {
  display: block;
  margin: auto;
}
main >section >.content >article >section >div .article--share {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #b3b3b3;
  font-weight: lighter;
}
main >section >.content >article >section >div .article--share:hover {
  color: #666;
  cursor: pointer;
}
@media (min-width: 768px) {
  main >section >.content >article >section >div {
    padding: 20 50px;
  }
  main >section >.content >article >section >div h1 {
    font-size: 3em;
    padding: 1em 1em;
  }
}
.ie8 main >section >.content >article >section.hasImage >div >h1 {
  color: #000;
}
.content .rssFeed {
  margin: 0;
}
.content .rssFeed article {
  background: #333;
  padding: 20px;
  border-left: 5px solid #95d47b;
  margin: 10px 0;
  color: #fdfdfd;
}
.content .rssFeed article:hover {
  border-left-color: #fdb002;
}
.content .rssFeed article h3 {
  font-size: 1.2em;
  padding-bottom: 1em;
  color: #fdfdfd;
}
.content .rssFeed article p {
  color: #fdfdfd;
  font-size: 0.95em;
}
.content .rssFeed article span {
  display: block;
  text-align: right;
  font-size: 0.8em;
  padding-top: 1em;
  color: #808080;
}
@media (min-width: 768px) {
  main >section >.content >article .block .block-content .rssFeed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  main >section >.content >article .block .block-content .rssFeed article {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 300px;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    margin: 5px;
  }
}
.content .action-items {
  margin: 1em 0;
}
.content .action-items .action-item {
  position: relative;
  background: #e4e4e4;
  padding: 20px;
  margin: 10px 0;
  color: #333;
  border-left: 5px solid #e4e4e4;
}
.content .action-items .action-item a {
  text-decoration: none;
  border: none;
  background-color: none;
}
.content .action-items .action-item a:hover {
  background: none;
}
.content .action-items .action-item span.action-pdf {
  font-size: 1.5em;
  position: absolute;
}
.content .action-items .action-item span.action-pdf +h2 {
  padding-left: 2em;
}
.content .action-items .action-item span.action-comment {
  color: #a4a4a4;
  display: block;
  text-align: right;
  font-size: 0.8em;
  position: absolute;
  right: 20px;
  top: 5px;
}
.content .action-items .action-item h2 {
  font-size: 1em;
  display: inline-block;
}
.content .action-items .action-item:hover {
  border-left-color: #fdb002;
}
@media (min-width: 768px) {
  .content .action-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .content .action-items .action-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 5px;
  }
}
.popup {
  position: fixed;
  margin: 0 10px;
  bottom: -500px;
  left: 0;
  right: 0;
  background: #fdfdfd;
  padding: 10px 10px 20px 10px;
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
  box-shadow: 1px -1px 5px 2px rgba(0,0,0,0.15);
  border: 5px solid #d48d7b;
  border-bottom-width: 0px;
  max-width: 500px;
}
.popup p {
  font-size: 0.9em;
  padding: 5px;
}
.popup a {
  color: #333;
  text-decoration: none;
  border: none;
  background-color: none;
}
.popup.isVisible {
  bottom: 0px;
}
.popup .popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.popup .popup-languages ul {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.popup .popup-languages li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline-block;
  margin: 10px 5px;
}
.popup .popup-languages li a {
  background: #e4e4e4;
  padding: 7px 12px;
  color: #333;
  border-left: 5px solid #e4e4e4;
}
.popup .popup-languages li a:hover {
  border-left-color: #7bc2d4;
}
