/* COLOR COMPLEMENTS */

/* Many colored*/
complement-colors = ks-tetrad( primary-color )
secondary-color = complement-colors[1]
tertiary-color = complement-colors[0]
accent-color = complement-colors[2]

// /* triad colors */
// complement-colors = ks-triad( primary-color )
// secondary-color = complement-colors[0]
// tertiary-color = complement-colors[1]
// accent-color = complement-colors[1]

// /* split colors */
// complement-colors = ks-split-complements( primary-color )
// secondary-color = complement-colors[0]
// tertiary-color = complement-colors[1]
// accent-color = complement-colors[1]

// /* monochrome colors */
// complement-colors = ks-monochrome( primary-color )
// secondary-color = complement-colors[0]
// tertiary-color = complement-colors[1]
// accent-color = complement-colors[1]

primary-ink-color = _inkColor(primary-color)
secondary-ink-color = _inkColor(secondary-color)
tertiary-ink-color = _inkColor(tertiary-color)
accent-ink-color = _inkColor(accent-color)