layoutDirection = horizontal

/* HEADER */
layout_header-height = 0px//45px


/* DRAWERS */
layout_drawer-width = 17em


/* MIXINS */
_shadow(h, v=0)
	if h>0
		box-shadow: 1px*v 1px*h 0.5px*h 1px rgba(0, 0, 0, 0.15);
	else
		box-shadow: inset 1px*h 1px*v -1px*h 1px rgba(0, 0, 0, 0.15);
