.overlay
	position:fixed
	z-index: 50
	top:0px
	left:0px
	right:0px
	bottom:0px
	height:100%
	display:none
	-webkit-tap-highlight-color:transparent;
	user-select: none;

@media (max-width: laptop)
	body.hasOverlay
		&.isTouch
			position: fixed;
			overflow: hidden;
		width: 100%;
		>.overlay
			display: block