.site-intro
	header
		padding-left: layout_drawer-width
		position:fixed
		width: 100%
		top:0px
		height: layout_header-height
		z-index: 100
		background-color: primary-color
		_shadow(2)
		
		h1
			color: primary-ink-color
			&:before
				content: 'LOGO'
				margin-right: 20px